body {
  margin: 20px;
  font-family: 'Lucida Sans';
  color: slategray;
}

.container-main {
  width: 40%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#main-title {
  margin: 50px 10px;
}

.form-container {
  background-color: lavender;
  border-radius: 10px;
  border: 2px;
  border-color: brown;
  display: inline-block;
  width: 60%;
}

.list-container {
  display: flex;
  justify-content: center;
}

.list-element {
  border-radius: 10px;
  border-color: brown;
  border: 1px solid;
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: left;
}

hr {
  margin: 20px 0px;
  border: 1px solid;
  color: darkolivegreen;
}

.secundary-titles {
  margin: 1px 0px 20px 0px;
}

.form-control {
  width: 90%;
}

.list-group {
  width: 50%;
}
span{
  margin: 0 10px 0 20px;
}