body {
  margin: 20px;
  font-family: 'Lucida Sans';
  color: slategray;
}

.container-main {
  display: block;
  width: 40%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#main-title {
  margin: 50px 10px;
}

.form-container {
  background-color: lavender;
  border-radius: 10px;
  border: 2px;
  border-color: brown;
  display: inline-block;
  width: 60%;
}

.list-container {
  display: inline-block;
  background-color:bisque;
}

.list-element {
  text-align: left;
  border-radius: 10px;
  border-color: brown;
  border: 1px solid;
  padding: 2px 25px;
  width: 60%;
}

hr {
  margin: 20px 0px;
  border: 1px solid;
  color: darkolivegreen;

}

.secundary-titles {
  margin: 1px 0px 20px 0px;
}

.form-control {
  width: 60%;
}

#btn-delete {
}

.list-group{
  margin: 0 20px;
  background-color: grey;
}