/* General styles */
body {
  margin: 20px;
  font-family: 'Lucida Sans';
  color: slategray;
}

hr {
  margin: 20px 0px;
  border: 1px solid;
  color: darkolivegreen;
}

.secundary-titles {
  margin: 1px 0px 20px 0px;
}

/* Main section styles */
.container-main {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#main-title {
  margin: 50px 10px;
}

/* Form styles */
.form-container {
  background-color: lavender;
  border-radius: 10px;
  border: 2px;
  border-color: brown;
  display: inline-block;
  width: 60%;
}


.form-control {
  width: 90%;
}

.btn-success {
  width: 90%;
}

/* List styles */
.list-container {
  display: flex;
  justify-content: center;
}

.list-element {
  border-radius: 10px;
  border-color: brown;
  border: 1px solid;
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  /* flex-wrap: wrap;*/
}

.list-group {
  /* width: 50%;*/
}

span {
  margin-left: 5%;
  display: inline-flex;
}
